{% extends "template.html"%}
{% load staticfiles %}

{% block content %}
<div class="row">
  <div class="col-md-12">
{% for place in places %}
    <div class="col-sm-6 col-md-4">
				<div class="thumbnail" >
					<h4 class="text-center"><span class="label label-info">آپارتمان</span></h4>
					<img src="http://localhost:8009/{{ place.Pic|cut:'web/' }}" class="img-responsive product-image">
					<div class="caption">
						<div class="row">
							<div class="col-md-6 col-xs-6">
								<h3>{{ place.CostPerDay }} تومان</h3>
							</div>
							<div class="col-md-6 col-xs-6 price">
								<h3>
								<label></label></h3>
							</div>
						</div>
						<p>آدرس : {{ place.Address }}</p>
						<div class="row">
							<div class="col-md-6">
								<a href="#" class="btn btn-success btn-product"><span class="glyphicon glyphicon-shopping-cart"></span> مشاهده بیشتر</a></div>
						</div>

						<p> </p>
					</div>
				</div>
			</div>
{% endfor %}
  </div>
</div>
{% endblock %}


{% block footer %}

<script >
$(document).ready(function () {
        $(".subtaskinput").fadeOut(0);
        $('.fa-square-o').hover(function () {
            $(this).addClass('fa-check-square-o');
            $(this).removeClass('fa-square-o');
        }, function () {
            $(this).addClass('fa-square-o');
            $(this).removeClass('fa-check-square-o');
        });

});

function showsubtaskinput(elementid){
  if ($('.btn-'+elementid).text() == '+') {
    $('.subtask-'+elementid).fadeIn(250);
    $('.subtask-'+elementid).focus();
    $('.btn-'+elementid).text ('-');
  }
  else {
    $('.subtask-'+elementid).fadeOut(250);
    $('.btn-'+elementid).text ('+');
  }
  // دگمه رو عوض کنیم به منفی و اگر منفی رو زد المنت رو حذف کنیم
  return 0;
}
</script>

<script type="text/javascript">
$(".alert").fadeTo(10000, 500).slideUp(500, function(){
    $(".alert").slideUp(10000);
});
</script>
{% endblock %}
